# Генерируемые двоичные и объёмные расчётные данные хранятся во внешнем облаке.
*.fc
*.fds
*.npz
*.npy
*.vtu
*.vtk
*.pvd
*.sgy
*.segy
*.su
*.h5
*.hdf5
*.mat
*.nc


# Архивы результатов также не входят в репозиторий.
*.tar
*.tar.gz
*.gz
*.7z
*.rar
*.csv
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.zip
.venv/
